<div class="login-section">
  <div class="wrapper wrapper-modal">

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="registration-form">
      <p class="registration-title">Вход</p>
      <div class="input-block">
        <input type="email" class="standard-input" formControlName="email" id="email" placeholder=" ">
        <label for="email">Email</label>
        <div class="red" *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
          Поле Email обязательно для заполнения.
        </div>
        <div class="red" *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched">
          Недопустимый формат Email.
        </div>
      </div>
      <div class="input-block">
        <input type="password" class="standard-input" formControlName="password" id="password" placeholder=" ">
        <label for="password">Пароль</label>
        <div class="red" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
          Поле Пароль обязательно для заполнения.
        </div>
        <div class="red" *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">
          Пароль должен содержать как минимум 9 символов.
        </div>
      </div>
      <button class="standard-button" type="submit" [disabled]="loginForm.invalid">Вход</button>
      <a routerLink="/registration" style="text-align: center; width: 100%; display: block; margin-top: 10px">Нет аккаунта? регистрация</a>
    </form>

  </div>
</div>
