<div class="chat">
 <div class="chat-main">
   <div class="chat-top">
     <p class="chat-text">
       <span>{{firstName}}</span>&nbsp;<span>{{lastName}}</span>
     </p>
     <p class="chat-text mt-10">{{email}}</p>
   </div>

   <ul class="message-container">

     <ng-container *ngFor="let message of messages">
       <li *ngIf="message.fromMe" class="message-right">
         <p class="message">{{ message.content }}
           <span>&#9679; {{ message.timestamp }}</span>
         </p>
       </li>
       <li *ngIf="!message.fromMe" class="message-left">
         <p class="message">{{ message.content }}
           <span>&#9679; {{ message.timestamp }}</span>
         </p>
       </li>
     </ng-container>
   </ul>
 </div>

  <form class="message-form" id="message-form" [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <input type="text" name="message" class="message-input" id="message-input" formControlName="message">
    <button type="submit" class="send-button">
      <img src="../../../assets/images/icons8-send-90.png" alt="send img">
    </button>
  </form>
</div>
