<div [ngClass]="{'user-section-active': this.burgerIsActive, 'user-section': true}">
  <div class="personal-info">
    <p class="user-text"><span>Имя: </span><span>{{firstName}}</span></p>
    <p class="user-text"><span>Фамилия: </span><span>{{lastName}}</span></p>
    <p class="user-text"><span>Email: </span><span>{{email}}</span></p>
  </div>
  <div class="friends-info">
    <p class="user-text">Ваши друзья</p>
    <div class="friends-list">
      <div *ngIf="friends$ | async as friends">
        <div *ngFor="let friend of friends">
          <button class="friends-friend">{{friend['email']}}
            <button>
              <img src="./assets/images/icons8-lock-50.png" (click)="block(friend['email'])"  alt="lock icon">
            </button>
            <button>
              <img src="./assets/images/icons8-close-50.png" (click)="remove(friend['email'])" alt="delete icon">
            </button>
          </button>
        </div>
      </div>

    </div>
  </div>
  <button class="standard-button" (click)="logOut()" style="margin-top: 15px">Выход</button>
  <div (click)="setActiveBurger()" [ngClass]="{'active': this.burgerIsActive, 'burger': true}">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
